In [4]:
import pandas as pd
import numpy as np
from random import randint

<b> Generate data

In [49]:
def generate_ids(len_in):
    id_list = []
    for i in range(int(len_in*0.3)):
        id_list.append("HK4023" + str(randint(1110, 9999)))
    for i in range(int(len_in*0.4)):
        id_list.append("HK4023" + str(randint(1110, 9999)) + "00A")
    for i in range(int(len_in*0.1)):
        id_list.append("HK4023" + str(randint(111000, 999999)))
    for i in range(int(len_in*0.1)):
        id_list.append("HK4023" + str(randint(111000, 999999)) + "00A")
    for i in range(int(len_in*0.1)):
        id_list.append("HK4023" + ''.join([str(ord(a)) for a in str(randint(111011, 999999))]))
    return pd.DataFrame(id_list, columns=["ID"])

<b> Take a sample

In [73]:
ids = generate_ids(50)
ids["type"] = ids.ID.apply(lambda x : len(x))
ids_sample = ids.groupby(['type']).sample(2, random_state=123)[['ID']]
ids_sample

                    ID
7           HK40231848
10          HK40231412
39        HK4023190122
38        HK4023674386
21       HK4023960900A
23       HK4023191700A
41     HK402391790200A
42     HK402360651900A
48  HK4023495651495156
45  HK4023504849505455